<footer>
  <p>&copy; <%= Humongous.copyright %></p>
  <p>
    <a href='https://pledgie.com/campaigns/24601'><img alt='Click here to lend your support to: Humongous  and make a donation at pledgie.com !' src='https://pledgie.com/campaigns/24601.png?skin_name=chrome' border='0' ></a>
  </p>
</footer>